/*
STYLE PAGE ADMIN
*/

/* HEADER */

#menuBur {
  display: none !important;
}

#DIVmenu {
  display: none !important;
}

/* BODY */

button, select {
  background-color: #CCCC23;
  color: #3D1255;
  border-color: #CCCC23;
  cursor: pointer;
}

#SECcoAdm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 78vh;
}

#SECcoAdm h2 {
  margin-top: 0;
}

.SECco {
  height: 58vh;
}

.SECco p {
  width: 100% !important;
  text-align: center;
}

.SECcoPresentation > p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#DIVadminUpdate, #DIVadminImage {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
}

#ARTselect, #ARTselectImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #CCCC23;
}

#ARTmodif, #ARTmodifImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  width: 100%;
  color: #CCCC23;
  margin: 0;
  padding: 0;
}

#ARTmodif div, #ARTmodifImg div {
  display: flex;
  justify-content: center;
  width: 80%;
  min-height: 50%;
  padding: 1%;
  border: solid;
  border-color: #CCCC23;
  color: #CCCC23;
}

#formImage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#ARTmodif p, #ARTmodifImg p {
  min-height: 4%;
}

#BUTmodif {
  display: inline-block;
  align-self: flex-end;
  margin-right: 5%;
}

#formImage input {
  border-color: #CCCC23;
  color: #3D1255;
  background-color: #CCCC23;
  cursor: pointer;
}

#image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#LABimage {
  font-size: 1.25em;
  font-weight: 700;
  display: inline-block;
  color: #3D1255;
  background-color: #CCCC23;
  padding: 6px;
}

#LABimage:hover {
  cursor: pointer;
}

#SECdeco {
  display: flex;
  align-items: center;
  height: 8vh;
}

#BUTdeco {
  margin-left: 5%;
}
