/*
STYLE PAGE VITRINE
*/

.SECco p {
  width: 50%;
  text-align: center;
}

.SECco img, #apilink {
  max-width: 20%;
  height: auto;
}

#apiimg {
  max-width: 100%;
  height: auto;
}

/* HEADER */

header {
  border-bottom: solid 3vh #CCCC23;
}
@media only screen and (min-width: 768px) {
  header {
    border-bottom: none;
  }
}

#menuBur {
  position: absolute;
  right: 2vh;
  height: 6vh;
  width: auto;
}
@media only screen and (min-width: 768px) {
  #menuBur {
    display: none;
  }
}

nav {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: #CCCC23;
}
@media only screen and (min-width: 768px) {
  nav {
    display: flex;
  }
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1;
  color: #3D1255;
  font-family: 'pauraque', sans-serif;
  font-size: 150%;
}

nav a:hover {
  background-color: #F2F22A;
  transform: scale(1.1);
}

.NAVcont:hover {
  transform: scale(1.1) translate(-4.5%);
}

#DIVmenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 98%;
  height: 72vh;
  background-color: white;
  font-family: 'pauraque', sans-serif;
}
@media only screen and (min-width: 768px) {
  #DIVmenu {
    display: none;
  }
}

#DIVmenu a {
  color: #3D1255;
  padding-left: 6%;
}

/* BODY */

#ARTdescription, #ARTreconnaissance, #ARTecran, #ARTiphone, #ARTapi, #ARTsetlist, #ARTimportation, #ARThardware,
#ARTipad, #ARTitunes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
@media only screen and (min-width: 768px) {
  #ARTdescription, #ARTreconnaissance, #ARTecran, #ARTiphone, #ARTapi, #ARTsetlist, #ARTimportation, #ARThardware,
  #ARTipad, #ARTitunes {
    flex-direction: row;
    justify-content: space-around;
  }
}

#DIVpresentation {
  justify-content: center;
}

#DIVressource {
  display: none;
}

#DIVcontact {
  display: none;
  justify-content: center;
  height: 72vh;
}
@media only screen and (min-width: 768px) {
  #DIVcontact {
    height: 67vh;
  }
}
@media only screen and (max-height: 420px) {
  #DIVcontact {
    height: 140vh;
  }
}

#SECcontact, #SEClegal {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  #SECcontact, #SEClegal {
    justify-content: space-around;
    align-items: center;
  }
}

#SECcontact article {
  height: 72vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  #SECcontact article {
    height: 67vh;
    flex-direction: row;
  }
}
@media only screen and (max-height: 420px) {
  #SECcontact article {
    height: 140vh;
  }
}

#DIV1con {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  #DIV1con {
    height: 67vh;
    width: 30%;
  }
}
@media only screen and (max-height: 420px) {
  #DIV1con {
    height: 40vh;
  }
}

#DIV2con {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 52vh;
}
@media only screen and (min-width: 768px) {
  #DIV2con {
    height: 67vh;
    width: 70%;
  }
}
@media only screen and (max-height: 420px) {
  #DIV2con {
    height: 80vh;
  }
}

#DIV1con input {
  width: 30%;
}
@media only screen and (min-width: 768px) {
  #DIV1con input {
    width: 80%;
  }
}

#DIV2con input {
  width: 30%;
}

#SECcontact form, #SECco form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#SECpresentation article:nth-child(even), #SECressource article:nth-child(even) {
  background-color: white;
  color: #3d1255;
  width: 96%;
}

#SECpresentation article:nth-child(odd), #SECressource article:nth-child(odd) {
  background-color: 3d1255;
  color: #cccc23;
  width: 96%;
}

#SECcontact input{
  background-color: #3D1255;
  color: #CCCC23;
  height: 3vh;
  padding-left: 2%;
}
@media only screen and (max-height: 420px) {
  #SECcontact input {
    height: 6vh;
  }
}

#SECcontact input::placeholder {
  color: #CCCC23;
  text-align: center;
}

#SECcontact input[type="button"] {
  cursor: pointer;
}

[contenteditable=true]:empty:not(:focus):before {
  content: attr(data-text);
  color: #CCCC23;
  margin-left: 2%;
  margin-top: 2%;
}

#DIVmess {
  width: 70%;
  height: 20vh;
  background-color: #3D1255;
  color: #CCCC23;
  padding-left: 2%;
  padding-top: 2%;
}
@media only screen and (min-width: 768px) {
  #DIVmess {
    height: 40vh;
  }
}

#FORMRGPD {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 14vh;
  width: 98%;
  padding-left: 2%;
  color: #3d1255;
}
@media screen and (min-width: 768px) {
  #FORMRGPD {
    flex-direction: row;
    align-items: center;
  } 
}
@media screen and (max-height: 420px) {
  #FORMRGPD {
    flex-direction: row;
    align-items: center;
  } 
}

#FORMRGPD input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  width: 20px;
  height: 20px;
  border: solid 1px #3d1255;
  border-radius: 50%;
  background: white;
}

#FORMRGPD input[type=checkbox]:hover {
  cursor: pointer;
}

#FORMRGPD input[type=checkbox]:checked {
  background: #3d1255;
}

#FORMRGPD input[type=checkbox]:focus {
  outline: none;
}

#spanRGPD {
  width: 70%;
  margin-left: 2%;
}

/* FOOTER */

footer {
  border-top: solid 3vh #cccc23;
}

#SEClegal {
  color:#3D1255;
  height: 78vh;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  #SEClegal {
    height: 70vh;
  }
}

#SEClegal p {
  margin-top: 0;
}

#legal {
  margin-block-end: 0;
  color: #CCCC23 !important;
  display: flex;
  align-items: center;
}

#legal:hover {
  cursor: pointer;
}