/*
STYLE COMMUN
*/

/* FONT */

@font-face {
  font-family: 'ponderosa';
  src: url('../fonts/MPonderosa.otf');
}
@font-face {
  font-family: 'pauraque';
  src: url('../fonts/pauraque.ttf');
}

html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-family: Helvetica, sans-serif;
}

/* HEADER */

header {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3D1255;
  height: 14vh;
  width: 100%;
  color: #cccc23;
}

header > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 78%;
  padding-left: 2%;
  height: 14vh;
}
@media only screen and (min-width: 768px) {
  header > div:nth-child(1) {
    justify-content: center;
  }
}

header > div:nth-child(2) {
  display: flex;
  width: 20%;
  height: 14vh;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  header > div:nth-child(2) {
    display: none;
  }
}

header h1 {
  display: flex;
  align-items: center;
  font-family: 'ponderosa', sans-serif;
  font-size: 300%;
  margin-block-end: 0;
  margin-block-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
@media only screen and (min-width: 768px) {
  header h1 {
    justify-content: center;
  }
}

header a {
  left: 1%;
}
@media only screen and (min-width: 568px) {
  header a {
    font-size: 60%;
  }
}
@media only screen and (min-width: 736px) {
  header a {
    font-size: 100%;
  }
}
@media only screen and (width: 1024px) and (height: 1366px) {
  header a {
    font-size: 150%;
  }
}

header h4 {
  left: 1%;
  margin-block-end: 0;
  margin-block-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-size: 60%;
  font-family: Helvetica, sans-serif;
}
@media only screen and (min-width: 768px) {
  header h4 {
    text-align: center;
    font-size: 80%;
  }
}

a {
  text-decoration: none;
}

h1 {
  color: #CCCC23;
  text-decoration: none;
}

/* BODY */

.SECco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #3D1255;
  color: white;
}

.SECcoPresentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12vh;
  width: 100%;
}

.SECco div, .SECco > div > section {
  width: 100%;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-around;
  height: 8vh;
  width: 100%;
  background-color: #3D1255;
  color: #CCCC23;
}

footer img {
  max-width: auto;
  height: 6vh;
}


#FOOlink {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-block-start: 0;
  margin-block-end: 0;
}
