    <script type="text/javascript" src="web/js/contact.js"></script>
    <script type="text/javascript" src="web/js/menu.js"></script>
    <script type="text/javascript" src="web/js/menuMobile.js"></script>
    <script type="text/javascript" src="web/js/modeFinder.js"></script>
    <script type="text/javascript" src="web/js/nav.js"></script>


  </body>
</html>
