    <script type="text/javascript" src="web/js/buttonImage.js"></script>
    <script type="text/javascript" src="web/js/menu.js"></script>
    <script type="text/javascript" src="web/js/navAdmin.js"></script>
    <script type="text/javascript" src="web/js/modeFinderAdmin.js"></script>
    <script type="text/javascript" src="web/js/modeFinderImage.js"></script>
  </body>
</html>
